@using TatilSeyahat.Models.Sınıflar
@model List<Yorum>
@{
    ViewBag.Title = "YorumListele";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>


<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<h2>YorumListele</h2>

@if (TempData["Başarılı"] != null)
{
    <script> swal("İşlem Başarılı!", "Kayıt Eklendi", "success"); @*swal({icon: "success",title: "Kayıt Başarılı",})}*@ </script>}
@if (TempData["Hata"] != null)
{
    <script>swal("HATA!", "İşlem Sırasında Bir Hata Oluştu", "error");</script>}
<table id="tbl2" class="table table-bordered">
    <thead>
        <tr>
            @*<th>İD</th>*@
            <th>Sıra</th>
            <th>Kullanıcı</th>
            <th>Mail</th>
            <th>Yorum</th>
            <th>Blog</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
    </thead>
    @{ int i = 0;}
    @foreach (var x in Model)
    {
        <tr>
            @*<td>@x.ID</td>*@
            <td>@{i++;}@i</td>
            <td>@x.KullaniciAdi</td>
            <td>@x.Mail</td>
            <td>@x.Yorumunuz</td>
            <td>@x.Blog.Baslik</td>


            <td><a class="btn btn-danger" data-target="#silblog" onclick="JavaSend(@x.ID)">Sil</a></td>



            <td><a class="btn btn-warning" href="/Admin/YorumGetir/@x.ID">Güncelle</a></td>

        </tr>
    }

</table>


<script>
        function JavaSend(id){
        var link ="/Admin/YorumSil/"+id;
        $("#modalLink").attr("href", link);
        $("#silblog").modal();
        }
</script>
<!--Modal-->
<div class="modal fade" id="silblog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#E55F4D; color:white; text-align:center">
                <h3 class="modal-title" style="margin-top:5px;">Kayıt Silme Onayı</h3>
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <h3><span aria-hidden="true">&times;</span></h3>
                    </button>*@
            </div>
            <div class="modal-body text-center">
                <h5 style="font-weight:bold">Kayıt Silinecektir, Bu Kaydı Silmek İstediğinize Emin Misiniz ?</h5>
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger pull-right" style="margin:5px" id="modalLink"> SİL</a>
                <button type="button" style="margin:5px" class="btn btn-primary pull-right" data-dismiss="modal">Vazgeç</button>
            </div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function() {
    $('#tbl2').DataTable( {
        language: {
            url: 'https://cdn.datatables.net/plug-ins/1.10.24/i18n/Turkish.json'
        }
    } );
} );
</script>


<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
@*<script src="https://cdn.datatables.net/plug-ins/1.10.24/i18n/Turkish.json "></script>*@